<p>Вариант №4 Архипов Артём ИУ6-33Б</p>
<p>Дан массив чисел arr_n. Определить произведение элементов массива кратных 3 и поместить
ее на место элемента с индексом k, где k – введенное значение.</p>

<h1>Введите массив чисел</h1>
<%= form_tag(array_product_calculate_path, method: 'get') do %>
  <label for="input_array">Массив (через запятую): </label>
  <%= text_field_tag :input_array, @default_values.join(',') %>

  <br>

  <label for="k">Введите k: </label>
  <%= number_field_tag :k, 2 %>

  <br>

  <%= submit_tag 'Рассчитать' %>
<% end %>

<% if flash[:error] %>
  <p style="color: red;"><%= flash[:error] %></p>
<% end %>
